* {
  box-sizing: border-box;
  font-family: 'Finlandica', sans-serif;
}

body {
  margin: 0;
  background-image: linear-gradient(rgb(0, 0, 0),rgb(0, 217, 255));
  background-attachment: fixed;
  height: 2900px;
}

.fullwidth{
  width: 100%;
  text-align: center;
}

.nicegrad {
  font-size: 72px;
  color: white;
}


h1 {
  color: white;
}

h1:hover {
  color: rgb(137, 97, 232);
  }

h2 {
  color: white;
}

h2:hover {
  color: rgb(137, 97, 232);
  }

h3 {
  color: white;
}

h3:hover {
  color: rgb(137, 97, 232);
  }

a {
  color: white;
  text-decoration: none;
}

nav {
  position: fixed;
  top: 0px;
  right: 0px;
}

.nav-items {
  margin: 0;
  padding: 0;
  display: flex;
  float: right;
}

.nav-items li {
  display: inline-block;
  color: white;
}

.nav-items li a {
  display: block;
  padding: 1rem;
  color: white;
}
