* {
  box-sizing: border-box;
  font-family: 'Finlandica', sans-serif;
}

body {
  margin: 0;
  background-image: linear-gradient(rgb(158, 121, 105),rgb(158, 121, 105), rgb(0, 217, 255));
  background-attachment: fixed;
  height: 2900px;
}

.fullwidth{
  width: 100%;
  text-align: center;
}

.nicegrad {
  font-size: 72px; margin-top: 300px;
  color: white;
}


h1 {
  color: white;
}

h1:hover {
  color: rgb(0, 110, 255);
  }

h2 {
  color: white;
}

h2:hover {
  color: rgb(0, 110, 255);
  }

h3 {
  color: white;
}

h3:hover {
  color: rgb(0, 110, 255);
  }

a {
  color: rgb(255, 162, 0);
  text-decoration: none;
  font-size: 25px;

  transition: color 0.25s;
}

a:hover {
  color: rgb(0, 110, 255);
}

nav {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  background-color: rgb(36, 35, 35);
}

.nav-items{
  margin: 0;
  padding: 0;
}

.navleft {
  position: fixed;
  float: left;
}

.navcenter {
  text-align: center; 
  width: 100%;
}

.navright {
  position: fixed; 
  float: right;
  right: 0%;
  top: 0%;
}

.nav-items li {
  display: inline-block;
}

.nav-items li a {
  display: block;
  padding: 1rem;
}

.headername{
  color:white;
  font-size: 25px;
  padding: 1rem;
  }